@{
    Layout = "~/Views/Shared/_LayoutCanhan.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Trang chủ cá nhân</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Baloo:wght@400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter Da 2:wght@400&display=swap" />
          </head>
<body>
    <div class="container ">
        <div class="img">
            <img src="https://cdn-i.vtcnews.vn/resize/th/upload/2020/02/28/tre-em6-14353862.jpg" alt=" " width="1440px" height="526px" />
        </div>
        <label class="lb1">Giải pháp công nghệ đồng hành cùng cộng đồng tình nguyện</label>
    <label class="lb2">Các hoạt động nổi bật</label>
    <hr color="black" size="3" width="750" style="position:absolute ; left: 282px; top: 800px;">
    </div>
</body>
</html>
<style>
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        position: relative; /* Cần thiết để sử dụng position absolute cho các phần tử con */
        height: 2000px;
        width: 1440px;
    }

    .img{
            position: absolute;
            left: 0px;
            top: 160px;
           
    }
    .lb1{
            position: absolute;
            left: 1045px;
            top: 242px;
            font-family: Baloo;
            color: #000000 ;
            font-size: 48px;        
            width: 328px;
            height: 45px;
    }

    .lb2 {
        position: absolute;
        left: 547px;
        top: 850px;
        color: #000000;
        font-size: 30px;
       
    }
</style>